{% extends "base.html" %}

    {% block body_content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome to our tutoring website!</div>
            <div class="masthead-heading text-uppercase">Classroom Connect</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Get Started</a>
        </div>
    </header>
    <!-- Services-->
    <section class="page-section" id="services">

      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">What we can do for you!</h3>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Get Connected</h4>
            <p class="text-muted">Get access to a world wide group of experts waiting to assist your studies.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Find a tutor</h4>
            <p class="text-muted">Find favorite tutors specific to your needs and learning style.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Create an appointment</h4>
            <p class="text-muted">Schedule personal tutoring appointments with your favorite tutors today!</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Subjects Grid-->
    <section class="page-section bg-light" id="portfolio">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Subjects</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 1-->
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="../static/assets/img/portfolio/6.jpg" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Math</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 2-->
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="../static/assets/img/portfolio/5.jpg" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Science</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 3-->
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="../static/assets/img/portfolio/4.jpg" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">English</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <!-- Portfolio item 4-->
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="../static/assets/img/portfolio/3.jpg" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">History</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
            <!-- Portfolio item 5-->
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="../static/assets/img/portfolio/2.jpg" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Engineering</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Portfolio item 6-->
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="../static/assets/img/portfolio/1.jpg" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">Computer Science</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Our Tutors</h2>
          <h3 class="section-subheading text-muted">Find your favorite tutor!</h3>
        </div>
       
        <!--Search formating-->
        <div style="text-align: center; height:100px">
            <form class="form-inline my-2 my-lg-0" method="GET" action="" style="margin:auto">
                <input type="search" placeholder="Search Tutor by name, ID, or subject" name="tutor_search" style="width:500px">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <!--display all and search-->
        <div class="row" style="line-height: 5em; overflow:auto; margin: auto; height:1150px" >
            {% for tutor in tutor_all %}
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="Tutors">
                            <img src="{{tutor.profile_pic}}">
                            <b><h2 class="name">{{tutor.first_name}} {{tutor.last_name}}</h2></b>
                            <h3>{{tutor.id}}</h3>
                            <h3 style="font-weight:normal">Subjects: </h3>
                              <p style="font-weight:normal">{{tutor.subjects}}</p>
                            <h3 style="font-weight:normal">Availability: </h3>
                              <p align="left" style="margin-left:95px; font-weight:normal">Monday: {{tutor.monday_time}}</p>
                              <p align="left" style="margin-left:95px; font-weight:normal">Tuesday: {{tutor.tuesday_time}}</p>
                              <p align="left" style="margin-left:95px; font-weight:normal">Wednesday: {{tutor.wednesday_time}}</p>
                              <p align="left" style="margin-left:95px; font-weight:normal">thursday: {{tutor.thursday_time}}</p>
                              <p align="left" style="margin-left:95px; font-weight:normal">Friday: {{tutor.friday_time}}</p>
                              <p align="left" style="margin-left:95px; font-weight:normal">Saturday: {{tutor.saturday_time}}</p>
                              <p align="left" style="margin-left:95px; font-weight:normal">Sunday: {{tutor.sunday_time}}</p>
                            <h3 style="font-weight:normal">Total Tutor Hours: {{tutor.total_hours}}</h3>
                            <h3 style="font-weight:normal">Bio: </h3>
                              <p style="font-weight:normal">{{tutor.bio}}</p>
                        </div>
                    </div>
                </div>
             {% endfor %}
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Want to help your fellow peers? Sign up to be a tutor today!</p>
          </div>
        </div>
      </div>
    </section>
   
    <!-- Footer-->
    <footer class="footer py-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 text-lg-start">Copyright &copy; UTD 2023</div>
          <div class="col-lg-4 my-3 my-lg-0">
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="col-lg-4 text-lg-end">
            <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
            <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
          </div>
        </div>
      </div>
    </footer>
  {% endblock %}
</html>
