{% extends "base.html" %} {% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{% endblock %} {% block title %}Registration Complete{% endblock %} {% block body_content %}
<body class="bg-dark">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-5 bg-white m-auto shadow p-4 mt-5 mb-5 bg-white rounded">
        <h1 class="text-center pt-3 mb-4">Registration Complete!</h1>
        <div class="text-center">
          <a href="{{ url_for('auth.login') }}" class="btn btn-success btn-xl text-uppercase pe-auto mt-4"> Login Now </a>
        </div>
        <h2 class="text-center pt-3 mb-4">OR</h2>
        <div class="text-center">
          <a href="/" class="btn btn-primary btn-xl text-uppercase pe-auto mt-4"> Return to Homepage </a>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/js/scripts.js"></script>
</body>
{% endblock %}
