{% extends "base.html" %}

{% block body_content %}
    <!-- Masthead -->
    <header class="masthead">
        <div class="container"><div class="user--info" >
            <div class="masthead-subheading">Welcome {{ user.first_name }}!</div>
        </div>
            <div class="masthead-heading text-uppercase">Classroom Connect Tutors</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="">Schedule An Appointment</a>
        </div>
    </header> 
    <!--body-->

    <section class="page-section bg-light" id="appointment">
        <div class="row" style="height:2000px">
            <div  class="col" style="height:auto; overflow:auto; border-right:5px solid black">
                <h1 style="text-align:center">Appointments</h1>
                <table method ='GET' name="appt_Table">
                    <tr>
                        <th>Date</th>
                        <th>Tutor</th>
                        <th>Info</th>
                        <th>Zoom Link</th>
                    </tr>
                    <ul>
                        {% for appt in appointments %}
                            <tr>
                                <td>{{ appt[0].date }}</td>
                                <td>{{ appt[1]}}</td>
                                <td>{{ appt[0].appointment_info }}</td>
                                <td>{{ appt[0].zoom_link }}</td>
                            </tr>
                        {% endfor %}
                    </ul>
                </table>
            </div>
            <div class="col" style="height:500px; overflow:auto; ">
                <h1 style="text-align:center">Favorite Tutors</h1>

    <!-- 
        <div class="user--info" >
            <h1>Hi {{ user.first_name }}!</h1>
        </div>
    -->
    </section>

    <section class="page-section bg-light" id="allTutors">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">All Tutors</h2>
            <div class="tutor-search">
                <form class="form-inline my-2 my-lg-0" method="GET" action="" style="margin:auto">
                    <input class="tutor-search-bar" type="search" placeholder="Search Tutor by name, ID, or subject" name="tutor_search">
                    <button class="tutor-search-btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!--display all and search-->
            <div class="row" style="line-height: 5em; overflow:auto; margin: auto; height:1150px" >
                {% for tutor in tutor_all %}
                    <div class="col-lg-4">
                        <div class="team-member">
                            <div class="Tutors">
                                {% if fileType == 'image/png' %}
                                <img src="data:image/png;base64,{{ data }}" alt="File" style="width:auto; height:300px; border-radius:20%">
                                {% elif fileType == 'image/jpeg' %}
                                <img src="data:image/jpeg;base64,{{ data }}" alt="File" style="width:auto; height:300px; border-radius:20%">
                                {% else %}
                                <p>Cannot load image</p>
                                {% endif %}
                                <b><h2 class="name">{{tutor.first_name}} {{tutor.last_name}}</h2></b>
                                <h3>{{tutor.id}}</h3>
                                <h3>{{tutor.email}}</h3>
                                <h3>{{tutor.phone_number}}</h3>
                                <h3 style="font-weight:normal">Subjects: </h3>
                                  <p style="font-weight:normal">{{tutor.subjects}}</p>
                                <h3 style="font-weight:normal">Availability: </h3>
                                  <p align="left" style="margin-left:95px; font-weight:normal">Monday: {{tutor.monday_time}}</p>
                                  <p align="left" style="margin-left:95px; font-weight:normal">Tuesday: {{tutor.tuesday_time}}</p>
                                  <p align="left" style="margin-left:95px; font-weight:normal">Wednesday: {{tutor.wednesday_time}}</p>
                                  <p align="left" style="margin-left:95px; font-weight:normal">thursday: {{tutor.thursday_time}}</p>
                                  <p align="left" style="margin-left:95px; font-weight:normal">Friday: {{tutor.friday_time}}</p>
                                  <p align="left" style="margin-left:95px; font-weight:normal">Saturday: {{tutor.saturday_time}}</p>
                                  <p align="left" style="margin-left:95px; font-weight:normal">Sunday: {{tutor.sunday_time}}</p>
                                <h3 style="font-weight:normal">Total Tutor Hours: {{tutor.total_hours}}</h3>
                                <h3 style="font-weight:normal">Bio: </h3>
                                  <p style="font-weight:normal">{{tutor.bio}}</p>
                                <!--place holder for actual favorite button, not sure how to do it yet-->
                                <input type="checkbox" id="Favorite">
                                <label for="Favorite">Favorite</label>
                            </div>
                            
                        </div>
                    </div>
                 {% endfor %}
                </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; UTD 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}